<div class="track list container">
  <div class="sorting buttons" [hidden]="!(tracks | async)">
    <button (click)="sort('genre')">Genre</button>
    <button (click)="sort('price', 'asc')">Price - low to high</button>
    <button (click)="sort('price', 'desc')">Price - high to low</button>
    <button (click)="sort('length', 'asc')">Length - shortest first</button>
    <button (click)="sort('length', 'desc')">Lenght - longest first price</button>
  </div>

  <div class="track list">
    <mus-track-list-item *ngFor="let track of (tracks | async)" [track]="track"></mus-track-list-item>
  </div>
</div>
