.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-family: 'Pacifico', cursive;
  color: whitesmoke;
  font-size: 4em;
}
