.track.list.item {
  padding: 20px;
  background: white;
  margin: 15px 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 3px 3px rgba(0,0,0,.3);;
  }
}
